/* Table Style */

:host::ng-deep ng2-smart-table-title > a { 
    color:white; 
    font-weight: 400;
    font-size: 1rem;
}

:host::ng-deep ng2-smart-table thead > tr > th { 
    background-color: teal;
    padding: 0;
}

:host::ng-deep ng2-smart-table td{
    text-align: center;
}

/* Table Navigation */

:host::ng-deep .page-item.disabled .page-link {
	color: darkgray !important;
}

:host::ng-deep .page-item.active .page-link {
	background: teal !important;
    color: white !important;
    font-size: 1.2rem !important;
	/**border: 1px solid black !important;**/
}

:host::ng-deep .page-item {
    margin: 3px;  
}

:host::ng-deep .page-link {
    color: teal !important;
    font-size: 1rem !important;
	padding: 8px;
	padding-left: 14px;
	padding-right: 14px;
	border-radius: 3px !important;
}

:host::ng-deep .page-link-prev span {
    font-size: 1rem !important;
}

:host::ng-deep .page-link-next span {
    font-size: 1rem !important;
}


/**
:host::ng-deep .page-link:hover {
	background-color: black !important;
	color: white !important;
	border: 1px solid black;
}
**/

:host::ng-deep .ng2-smart-pagination .page-link-next,
:host::ng-deep .ng2-smart-pagination .page-link-prev {
	font-size: 14px !important;
}

:host::ng-deep .ng2-smart-page-item a:hover {
	text-decoration: none !important;
}

:host::ng-deep ng2-smart-table-pager nav {
    margin: auto;
}

